.chatmodal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    /* background-color: "background.paper; */
    border: 2px solid #000;
    box-shadow: 24;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    gap: 10px;
    background-color: rgba(89, 90, 100, 0.458);
    
    color: white;
    border-radius: 1rem;
}

.auto {
    color: white;
    background-color: rgba(89, 90, 100, 0.458);
}

.groupname {
    width: 97%;
    background-color: rgba(89, 90, 100, 0.458);
    color: white;
    padding: 10px 10px;
    border-radius: 8px;
    border-style:none ;
}

.topmodal {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.butgrp {
    display: flex;
    gap: 10px;

}

.modbut {
    width: 50%;
    padding: 10px 10px;
    border-radius: 2rem;
    color: white;
    background-color: rgb(29, 169, 200);
    border-style: none;
}