.overall{
    width: auto;
    height: 100vh;
    background-color: rgb(4, 4, 19);
    display: flex;

}
.leftsection{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100vh;
    border-right: 0.01px solid white;
    /* border-width: ; */
    
}
.topleft{
    display: flex;
    gap: 10px;
    /* width: 100%; */
   padding: 5px 5px;
   border: 1px solid white;
}
.rightsection{
    display: flex;
    gap: 20px;
    width: 70%;
    height: 100vh;
    color:white;
    flex-direction: column;
}
.butaddchat{
    padding: 10px 10px;
    background-color: rgb(29, 169, 200);
    color: white;
    border-radius: 8px;
    border-style: none;
width: 30%;
}
.inputchat{
    padding: 5px 5px;
    width: 70%;
    border-style: none;
    border-radius:8px ;
    color: white;
    
    background-color: rgba(89, 90, 100, 0.458);
}
.messageinput{
    height: 10%;
    width: 97%;
    /* position: absolute; */
    border: 1px solid white;
    /* bottom: 0px; */
    display: flex;
    padding: 10px 10px ;
    align-items: center;
}
.sticktop{
    height: 10%;
    width: 99%;
    /* position: absolute; */
    border-bottom: 1px solid white;
    /* top: 0px; */
}
.messagesection{
    width: 100%;
    height: 80%;
    /* position: absolute; */
    /* top: 10%; */
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* border-left:1px solid white; */
}
.downleft{
    display: flex;
    margin:10px;
    gap: 10px;
    flex-direction: column;
}
.topuserinfo{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
}
.small{
    color: rgb(184, 175, 175);
    font-size: 13px;
}
.attachment{
    height: 30px;
border: none;
background: none;
color: white;
width: 5%;
}
.messageenter{
width: 90%;
height: 30px;
background-color: rgba(89, 90, 100, 0.458);
border-style: none;
border-radius: 2rem;
padding: 5px 5px;
color: white;
}
.sendmessage{
height: 30px;
width: 5%;
border: none;
background: none;
color: white;
}